 .u-section-1 {
  background-image: url("images/Certifications_Blog_IMG.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 765px;
}

.u-section-1 .u-text-1 {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 4.5rem;
  letter-spacing: 2px;
  margin: 146px 0 60px 526px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 94px;
    margin-left: 326px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 251px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 217px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 357px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 36px;
    margin-left: 104px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 878px;
}

.u-section-2 .u-text-1 {
  font-size: 3.61111rem;
  text-transform: none;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.27778rem;
  width: 778px;
  margin: 16px auto 0;
}

.u-section-2 .u-shape-1 {
  height: 328px;
  margin: 110px 0 60px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1398px;
  }

  .u-section-2 .u-text-2 {
    width: 689px;
  }

  .u-section-2 .u-shape-1 {
    height: 291px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1608px;
  }

  .u-section-2 .u-text-1 {
    width: 615px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 66px;
    margin-right: 66px;
  }

  .u-section-2 .u-shape-1 {
    height: 437px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1897px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.4375rem;
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-shape-1 {
    height: 768px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1896px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  min-height: 786px;
}

.u-section-3 .u-sheet-1 {
  min-height: 1125px;
}

.u-section-3 .u-text-1 {
  margin: 34px 0 0;
}

.u-section-3 .u-gallery-1 {
  height: 948px;
  grid-gap: 10px 10px;
  margin: 15px auto 48px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-thumbnails-1 {
  padding: 0;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 100px;
  width: 59px;
  height: 59px;
  padding: 10px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  width: 59px;
  height: 59px;
  left: auto;
  top: 454px;
  right: 0;
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 232px;
  }

  .u-section-3 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 122px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 32px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 100px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 60px;
    height: 60px;
  }

  .u-section-3 .u-carousel-thumbnail-2 {
    width: 60px;
    height: 60px;
  }

  .u-section-3 .u-carousel-thumbnail-3 {
    width: 60px;
    height: 60px;
  }

  .u-section-3 .u-carousel-thumbnail-4 {
    width: 60px;
    height: 60px;
  }

  .u-section-3 .u-carousel-thumbnail-5 {
    width: 60px;
    height: 60px;
  }

  .u-section-3 .u-carousel-control-1 {
    left: 10px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 541px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 475px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  margin: 0 auto;
}

.u-section-4 .u-btn-1 {
  margin: 37px auto 0;
}

.u-section-4 .u-image-1 {
  min-height: 431px;
  background-image: url("images/IDS.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 392px;
  }

  .u-section-4 .u-image-1 {
    min-height: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    min-height: 272px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 408px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    min-height: 257px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1310px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 1070px;
  grid-gap: 0px 0px;
}

.u-section-5 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 13px 30px;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-5 .u-btn-1 {
  font-size: 0.9375rem;
  font-style: italic;
  text-decoration: underline !important;
  border-style: solid;
  font-weight: 700;
  margin: 42px auto 0;
  padding: 6px 31px 6px 30px;
}

.u-section-5 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 13px 30px;
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-5 .u-btn-2 {
  font-size: 0.9375rem;
  font-style: italic;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  border-style: solid;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-decoration: underline !important;
  font-weight: 700;
  margin: 42px auto 0;
  padding: 6px 31px 6px 30px;
}

.u-section-5 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 13px 30px;
}

.u-section-5 .u-text-4 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-5 .u-btn-3 {
  font-size: 0.9375rem;
  font-style: italic;
  text-decoration: underline !important;
  border-style: solid;
  font-weight: 700;
  margin: 42px auto 0;
  padding: 6px 31px 6px 30px;
}

.u-section-5 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-4 {
  padding: 13px 30px;
}

.u-section-5 .u-text-5 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-5 .u-btn-4 {
  font-size: 0.9375rem;
  font-style: italic;
  text-decoration: underline !important;
  border-style: solid;
  font-weight: 700;
  margin: 42px auto 0;
  padding: 6px 31px 6px 30px;
}

.u-section-5 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-5 {
  padding: 13px 30px;
}

.u-section-5 .u-text-6 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-5 .u-btn-5 {
  font-size: 0.9375rem;
  font-style: italic;
  text-decoration: underline !important;
  border-style: solid;
  font-weight: 700;
  margin: 42px auto 0;
  padding: 6px 31px 6px 30px;
}

.u-section-5 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-6 {
  padding: 13px 30px;
}

.u-section-5 .u-text-7 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-5 .u-btn-6 {
  font-size: 0.9375rem;
  font-style: italic;
  text-decoration: underline !important;
  border-style: solid;
  font-weight: 700;
  margin: 42px auto 0;
  padding: 6px 31px 6px 30px;
}

.u-section-5 .u-list-item-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-7 {
  padding: 13px 30px;
}

.u-section-5 .u-text-8 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-5 .u-btn-7 {
  font-size: 0.9375rem;
  font-style: italic;
  text-decoration: underline !important;
  border-style: solid;
  font-weight: 700;
  margin: 42px auto 0;
  padding: 6px 31px 6px 30px;
}

.u-section-5 .u-list-item-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-8 {
  padding: 13px 30px;
}

.u-section-5 .u-text-9 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-5 .u-btn-8 {
  font-size: 0.9375rem;
  font-style: italic;
  text-decoration: underline !important;
  border-style: solid;
  font-weight: 700;
  margin: 42px auto 0;
  padding: 6px 31px 6px 30px;
}

.u-section-5 .u-list-item-9 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-9 {
  padding: 13px 30px;
}

.u-section-5 .u-text-10 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-5 .u-btn-9 {
  font-size: 0.9375rem;
  font-style: italic;
  text-decoration: underline !important;
  border-style: solid;
  font-weight: 700;
  margin: 42px auto 0;
  padding: 6px 31px 6px 30px;
}

.u-section-5 .u-list-item-10 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-10 {
  padding: 13px 30px;
}

.u-section-5 .u-text-11 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-5 .u-btn-10 {
  font-size: 0.9375rem;
  font-style: italic;
  text-decoration: underline !important;
  border-style: solid;
  font-weight: 700;
  margin: 42px auto 0;
  padding: 6px 31px 6px 30px;
}

.u-section-5 .u-list-item-11 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-11 {
  padding: 13px 30px;
}

.u-section-5 .u-text-12 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-5 .u-btn-11 {
  font-size: 0.9375rem;
  font-style: italic;
  border-style: solid;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 42px auto 0;
  padding: 6px 31px 6px 30px;
}

.u-section-5 .u-list-item-12 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-12 {
  padding: 13px 30px;
}

.u-section-5 .u-text-13 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-5 .u-btn-12 {
  font-size: 0.9375rem;
  font-style: italic;
  border-style: solid;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 42px auto 0;
  padding: 6px 31px 6px 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 882px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1520px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.u-section-5 .u-btn-2,
.u-section-5 .u-btn-2:before,
.u-section-5 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-container-layout:hover .u-btn-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-5 .u-container-layout:hover .u-btn-2:before {
  background-color: transparent !important;
}

.u-container-layout.hover .u-section-5 .u-btn-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}